
 <form action="/auth/signup" method="POST">
   <label> Surname
      <input type="text" name="username" placeholder="your family name">
   </label>
   <br>
   <label> Name
      <input type="text" name="username" placeholder="first name">
   </label>
   <br>
   <label> Username
      <input type="text" name="username" placeholder="sry, 'admin' is alreay taken 🙄">
   </label>
<br>
   <label> Password
      <input type="password" name="password" placeholder="at least 8 characters!">
   </label>
  <input type="checkbox" onclick="Toggle()" />
  <b>Show Password</b>
 <b><p>Click on the checkbox to show or hide password 🙈: </p></b>
 <p>make sure no one is behind you 🤫</p>
  <script>
    // Change the type of input to password or text 
    function Toggle() { var temp
    = document.getElementById("typepass"); if (temp.type === "password") {
    temp.type = "text"; } else { temp.type = "password"; } }
  </script>

</form>
   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}