<h1>Search group!</h1>
<form>
   <label for="From">From :</label>
   <input type="text" name="" required>
    <label for="To">To :</label>
    <input type="text" name="" required>
    <label for="Date">Date :</label>
    <input type="date" name="">
    <button type="submit">Search!</button>
</form>